<div class="container">
        <h1 class="my-4">{{ recipe.name|capfirst }}  {% if user.is_authenticated and request.user == recipe.author %}   <a href="{% url 'update' recipe.id %}"><i class="fas fa-edit"></i></a> {% endif %}
            <!-- <small>Secondary Text</small> -->
        </h1>
        
        <div class="row">
          
            <div class="col-md-8" style="margin-right: -15%;">
                <img class="img-fluid" src="{{recipe.image.url}}" style="width: 75%;" alt="{{ recipe.name|capfirst }}">
            </div>
          
            <div class="col-md-4">
              <div class="row">
                  <div class="col-md">
                    <h3 class="my-3">About</h3>
                    <p>{{ recipe.description }}</p>
                    <h3 class="my-3">Recipe Details</h3>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                            <th scope="col">Prep:</th>
                            <th scope="col">Cook:</th>
                            <th scope="col">Servings:</th>
                            <th scope="col">Author:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">{{ recipe.prep }}</th>
                                <td>{{ recipe.cook }}</td>
                                <td>{{ recipe.servings }}</td>
                                <td>{{ recipe.author }}</td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
                
              </div>
            </div>
        </div>
        <br>
            <div class="col-md-8">
                <div class="row">
                  <div class="col">
                      <div class="card" style="width: 20rem;">
                          <div class="card-body">
                              <h5 class="card-title">Ingredients</h5>
                              <h6 class="card-subtitle mb-2 text-muted">for {{ recipe.name|capfirst }}</h6>
                              <p class="card-text">{{ recipe.ingredients|safe }}</p>
                          </div>
                      </div>
                  </div>
                  <div class="col">
                      <div class="card" style="width: 20rem;">
                          <div class="card-body">
                              <h5 class="card-title">Directions</h5>
                              <h6 class="card-subtitle mb-2 text-muted">for {{ recipe.name|capfirst }}</h6>
                              <p class="card-text">{{ recipe.directions|safe }}</p>
                          </div>
                      </div>
                  </div>
                  
                  <div class="col mt-4 mb-4">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">Author Notes</h5>
                            <p class="card-text">{{ recipe.notes }}</p>
                        </div>
                    </div>
                </div> 
                  <!-- <div class="col-md">
                      <div class="card" style="width: 18rem;">
                          <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="card-link">Card link</a>
                              <a href="#" class="card-link">Another link</a>
                          </div>
                      </div>
                  </div> -->
                  </div>
                </div>
                <div class="row">
                    <h3 class="my-4">Other Recipes</h3>
                    <div class="row">
                        {% for item in recipes %}
                            <div class="col-md-3 col-sm-6 mb-4">
                                <div class="card">
                                    <a href="{% url 'detail' item.id %}">
                                        <img class="card-img-top img-fluid" src="{{item.image.url}}" alt="{{ item.name|capfirst }}">
                                    </a>
                                    <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="{% url 'detail' item.id %}" style="text-decoration: none;">{{ item.name|capfirst }}</a>
                                    </h4>
                                    <small>{{ item.description|truncatechars:25 }}</small>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
              </div>
    </div>